# Environment Secrets
.env

# Cache
.turbo

# Ndode modules
node_modules

# Environment Secrets
.env
.env.test
.env.local
.env.*.local
tanzania-482107-c1-firebase-adminsdk-fbsvc-ec8986c93e.json
# Environment Secretes
.env
.env.test
.env.local
.env.*.local
